.box {
    width: 100px;
    height: 100px;
    background-color: #F44336;
    animation: slide 2s ease-in-out infinite;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(200px);
    }
    100% {
      transform: translateX(0);
    }
  }

  




  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #5C5C5C;
    margin: 10px;
    animation: pulse 1s ease-in-out infinite;
  }
  
  .dot-1 {
    animation-delay: 0s;
  }
  
  .dot-2 {
    animation-delay: 0.2s;
  }
  
  .dot-3 {
    animation-delay: 0.4s;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0);
      opacity: 0.5;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0.5;
    }
  }

  

  nav {
    background-color: #d62121;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    overflow-x: hidden;

    width: 100px;

  }
  
  a:hover {
    color: #F44336;
  }


  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-left: 1rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    margin: 2rem auto;
    max-width: 800px;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li h3 {
    margin: 0;
  }
  
  li p {
    margin: 0;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input,
  textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 
  }  
  